
h3{
    font-size: 22px;
    color: rgb(68, 68, 68);
}
body{
    font-family: sans-serif ;
     background-color: rgb(244, 249, 255);
}
.nav-center{
    position: relative;
    left: -10px;
    top:-10px;
    width: 101%;
    display: flex;
    justify-content: space-between;
    color:black;
    border: none;
    background-color: rgb(255, 255, 255);
}
.nav-logo{
    padding: 1px 10px 1px 10px;
}
nav{
    padding: 20px;
}
a{
    text-decoration: none;
    color:black;
    padding: 20px;
}
a:hover{ 
    text-decoration: underline;
}
.detail-container{
    border: 1px solid gray;
    display:flex;
    background-color: rgb(252, 252, 252);
}
.detail{
    text-align: left;
    padding:50px;
    display: block;
    width: 100%;
}
.detail-img{
    width: 30%;
    padding:50px;
    text-align: center;

}
.comment-container{
    display: flex;
    padding:30px;
}
.comment{
    width:400px;
    padding: 10px;
}
.search{
    margin-top: 10px;
}
.detail-link{
    border: 1px solid rgb(206, 80, 168);
    width: 100%;
    border-radius: 10px;
    transition: 0.25s;
    color: rgb(57, 173, 245);
}
.detail-link:hover{
    background-color: rgb(206, 80, 168);
    color: white;
    text-decoration: none;
}
.detail-flex{
    display:flex;
}
.user-container{
    display: block;
    background-color: white;
    margin-left: 30px;
    min-width: 30%;
    border: 1px solid rgb(206, 80, 168);
    border-radius:10px;
    margin-bottom: 20px;
}
.user-flex{
    display: flex;
}
.user{
    font-size: 20px;
    padding:20px 20px 0 20px;
    color: rgb(57, 173, 245);
}
.user-date{
   position: relative;
   top:30px;
    font-size: 12px;
}
.user-comment{
    font-size: 18px;
    padding:10px  0 20px 20px;
    color: rgb(61, 61, 61);
}
.view-count{
    text-align: center;
    font-size: 26px;
    color:gray;
    padding:20px;
}