body{
    font-family: sans-serif ;
    transition: 0.5;
}
.nav-center{
    position: relative;
    left: -10px;
    top:-10px;
    width: 101%;
    display: flex;
    justify-content: space-between;
    color:black;
    border: none;
    box-shadow: 2px 2px 1px rgb(197, 197, 197);
}
.nav-logo{
    padding: 1px 10px 1px 10px;
}
nav{
    padding: 20px;
}
a{
    text-decoration: none;
    color:black;
    padding: 20px;
}
a:hover{ 
    text-decoration: underline;
}
.video{
    text-align: center;
    border: 1px solid black;
    height: 90%;
    background-color: black;
    margin-bottom: 20px;
}
.brand{
    border: 1px solid red;
    padding: 1rem;
    text-align: right;
}
select{
    width:20%;
    padding:10px
}
.product-container{
    border:1px solid black;
    height: auto;
    padding:10px;
    margin: 30px;
    display: flex;
}

.detail{
    border: 1px solid green;
    width: 100%;
    height: 30px;
    padding: 30px;
}
.dark-btn{
    width: 40px;
    height:40px;
    border-radius: 50%;
    border:1px solid green;
    position:fixed;
    right: 10px;
    top:110px;
}
.darkmode-gray{
    background-color: rgb(32, 32, 32);
    color:white;
}
.darkmode-black{
    background-color: rgb(24, 24, 24);
    color:white;
}
.search{
    position: relative;
    text-align: right;
    margin: 10px;
}