h3{
    font-size: 22px;
}
body{
    font-family: sans-serif ;
    background-color: rgb(249, 255, 255);
    transition:0.5s;
}
.nav-center{
    position: relative;
    left: -10px;
    top:-10px;
    width: 101%;
    display: flex;
    justify-content: space-between;
    color:black;
    border: none;
}
.nav-logo{
    padding: 1px 10px 1px 10px;
}
nav{
    padding: 20px;
}
a{
    text-decoration: none;
    color:black;
    padding: 20px;
}
a:hover{ 
    text-decoration: underline;
}
.video{
    text-align: center;
    border: 1px solid black;
    height: 90%;
    background-color: black;
    margin-bottom: 20px;
}
.video-container{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
.video-btn{
    padding: 10px;
    border:  double black;
    z-index: 3;
    cursor: pointer;
    transition: 1s;
}
.video-btn-hover{
background-color: black;
color:white;
}
.des-video{
   color:aliceblue;
   position: relative;
   bottom: 60%;
   margin: auto;
}

.new-release-container{
    width: 100%;
    height: 50%;
    border: 1px solid black;
    display: flex;
    display: space-between; 
}

.new-release{
    margin: auto 30px;
    border: 1px solid black;
    width: 20%;
    height: 70%;
    padding: 20px;
    /* text-align: center; */
   
}
.new-release-img{
    border: 1px solid black;
    margin: auto;
    margin-bottom:10px;
    height: 70%;

}
.new-release-des{
    border: 1px solid blue;
}
.img-new-release{
    width:100%;
    height:100%;
}
.popup-bg{
    left: 0;
    top:0;
    width: 100%;
    height: 100%;
    position:fixed;
    z-index: 3;
    background-color: rgba(25, 25, 25, 0.5);
    padding-left: 35%;
    padding-top:7%;
}
.popup-container{
    width: 500px;
    height:500px;
    left: 35%;
    text-align: center;
    background-color: blueviolet;
    opacity: 1.5;
    z-index: 4;
}
.popup{
    height: 100%;
    border: 1px solid black ;
   padding-top: 30%;
   
}
.popupbtn{
    font-size: 18px;
    border:none;
    
    position: relative;
    bottom: 35%;
    left:50%;
    border-radius: 50%;
}
.dark-btn{
    width: 40px;
    height:40px;
    border-radius: 50%;
    border:1px solid green;
    position:fixed;
    right: 10px;
    top:70px;
}
.darkmode-gray{
    background-color: rgb(32, 32, 32);
    color:white;
}
.darkmode-black{
    background-color: rgb(24, 24, 24);
    color:white;
}
.hide{
    display:none;
    z-index: -3;
}